*, *:before, *:after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent:
}

body {
  max-width: 1280px;
  max-height: 2210px;
  margin: 0;
}

nav {
  position: absolute;
  background-color: #000000;
  height: 80px;
  top: 0;
  width: 100%;

}
ul{
  display: flex;
  flex-direction: row;
}
li{
    width: 33%;
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}

#facebook{
  font-size: 28px;
}

a {

  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.page-header{
  position: absolute;
  top: 80px;
  width: 100%;
  height: 600px;
  background-image: url('../img/header-img.jpg');
  /*background-size: 1280px 600px;*/
  background-size: cover;

}
/*iBeer*/
.main-heading {
  position: relative;
  z-index: 4;
  color: #000000;
  font-family: 'Josefin Sans';
  font-size: 80px;
  padding-top: 200px;
  padding-bottom: 0px;
  text-align: center;
  margin: 0px auto;
}
/*Write thirsty*/
.sub-heading {
  position: relative;
  z-index: 5;
  color: #FFFFFF;
  font-family: 'Dancing Script';
  font-size: 50px;
  text-shadow: 2px 2px 5px #272500;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
/* FIXME:  */
/*flex-items--might be helpful?*/
/*main is parent of blog-row*/
/* item is parent of item-wrapper (icon)*/
/*meta is parent of date and category*/
/*entry-title is parent of primary-text*/
/*maybe try to set width of flex and force vertical instead of having to assign vertical so the horizontal will work inside boxes*/
main{
  position: relative;
  z-index: 5;
  width: 1150px;
  height: 2210px;
  background-color: #FEF9EB;
  margin: 600px 60px 40px 60px;
  box-shadow: 0px 2px 5px 2px #AAAAAA;
  display: flex;

}
.blog-row{
  display: flex;
  flex-direction: column;
}
.item{
  width: 500px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 5px 2px #AAAAAA;
  margin-top: 30px;
  margin-left: 130px;
  line-height: 2;
  font-family: 'Noto Serif';
  padding: 30px 20px;
  border-top: 3px solid #B2B2B2;
}

.icon-wrapper{
  text-align: center;

}

.fa{
  border-radius: 50%;
  background-color: #EFEADE;
  padding: 20px;
  color: #FFFFFF;
}

.meta{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;

}
 .date{
   text-transform: uppercase;
   border-bottom: 3px solid #B2B2B2;
 }

 .category{
   text-transform: uppercase;
   border-bottom: 3px solid #B2B2B2;
 }
.entry-title{
  flex-direction: row;
}
.primary-txt{
  font-size: 16px;
  text-align: left;
  font-family: 'Josefin Sans';
}

/*higher margin for top flex item*/
.item:nth-of-type(1){
  margin-top: 75px;
  background-image: url('../img/dino.jpg');
  background-size: 245px 245px;
  background-repeat: no-repeat;
}

.item:nth-of-type(2){
  background-image: url('../img/xx.png');
  background-size: 245px 245px;
  background-repeat: no-repeat;
}

.item:nth-of-type(4){
  background-image: url('../img/yhact.jpg');
  background-size: 245px 245px;
  background-repeat: no-repeat;

}

/*bio*/
aside{
  position: absolute;
  background-color: #EFEADE;
  height: 1170px;
  width: 350px;
  margin-left: 755px;
  margin-top: 30px;
  box-shadow: 0px 2px 5px 5px #E1DDD3;
  line-height: 2;
  padding: 0px 30px;
  font-family: 'Josefin Sans';
}

.aside-heading{
  border-bottom: 3px solid #555555;
  padding-bottom: 40px;
  font-size: 24px;
  text-align: center;
}
#bio{
  padding-top: 25px;
  font-size: 18px;
  text-align: left;
}

.auth-pic{
  background-image: url('../img/author.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 20px auto;
  margin-bottom: 40px;

}

footer{
  height: 30px;
  background-color: #000000;
  text-align: center;
  color: #FFFFFF;
}
